
{{#if album}}
<div>
  <ul class="album">
    {{#each f}}
      <a href="/{{this}}"><li>{{this}}</li></a>
    {{/each}}
  </ul>
</div>
{{else}}
<div>
  <ul class="album">
    {{#each songs}}
      {{!-- <a href="{{parent}}/{{this}}"></a> --}}
      <li link="{{parent}}\\{{this}}">{{this}}</li>
    {{/each}}
  </ul>
</div>
<script src="js/play.js"></script>
{{/if}}